{% extends "gigs/gig_base.html" %}

{% load markup %}
{% load embed_filters %}

{% block content %}

  {% for gig in gig_list %}

  <div class="well">
    {% if gig.logo %}
      <img class="gig-logo pull-right" src="{{ gig.logo }}"/>
    {% endif %}

    <div class="page-header">
      {% if gig.url %}<a class="gig-link" href="{{ gig.url }}">{% endif %}
        <h1>{{ gig.name }} <small>{{ gig.tagline }}</small></h1>
      {% if gig.url %}</a>{% endif %}
    </div>


    <div class="gig-platforms pull-left">
      <ul class="gig-platforms-list">
        {% for platform in gig.platforms.all %}
        <li>
          {% if platform.logo %}
          <img class="platform-logo" title="{{ platform.name }}" src="{{ platform.logo }}"/>
          {% else %}
          {{ platform }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="gig-date pull-right">
      <em>
      {{ gig.formatted_date }}
      </em>
    </div>


    <div class="clearfix"></div>


    <div class="gig-description">{{ gig.description|markdown|linebreaks }}</div>
    <!--
    <div class="clearfix"></div>

    <p>{{ gig.description|truncatewords:"10" }}</p>
    <p>{{ gig.tagline }}</p>
    <div class="container">
    </div>

<img class="app_store_link" src="http://employeedirectory.org/app/appstore.png"/>
        <img class="gig-photo" src="{{ photo.url }}"/>
        
-->

    <div class="videos">
      {% for video in gig.video_set.all %}
        {{ video.embed_url|embedly:"640"|safe }}
      {% endfor %}
    </div>
    
    <div class="photos">
      {% for photo in gig.photo_set.all %}
        <iframe class="imgur-album" width="640" height="360" frameborder="0" src="http://imgur.com/a/{{ photo.imgur_id }}/embed"></iframe>
      {% endfor %}
    </div>

    <div class="app-store-links">
      {% for listing in gig.appstorelisting_set.all %}
      <a href="{{ listing.url }}">
        <img class="app-store-link" src="{{ listing.platform.appstore_logo }}"/>
      </a>
      {% endfor %}
    </div>

    <div class="repos pull-right">
      {% for repo in gig.coderepo_set.all %}
        <!--  
        src="http://ghbtns.com/github-btn.html?user=DavidYKay&repo=QUADRO&type=fork"
        allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px">
        -->
      <iframe
        src="http://ghbtns.com/github-btn.html?user={{ repo.username }}&repo={{ repo.reponame }}&type=fork"
        allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px">
      </iframe>
      {% endfor %}
    </div>

  </div>

{% endfor %}

{% endblock %}
